@import "common/common";
a {
    color: $primaryColor;
}

.btn {
    border-radius: 0px;
    border: none;
}

.btn-primary {
    background-color: $primaryColor;
    color: white;
}

.banner {
    text-align: center;
    height: 450px;
    background-image: url(/static/default_banner.jpg);
    background-position: center top;
    color: black;
    h1 {
        margin-top: 70px;
        font-size: xx-large;
        color: black;
        font-family: 'Old Standard TT', serif;
    }
}

input[type=text] {
    border-width: 1px;
    border-radius: 0px;
    outline-style: none;
}