<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Catalog</a></li>
                <li class="active">New Arrivals</li>
            </ol>

        </div>
    </div>
    <div class="pull-right ">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by Newest
  <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Sort by price</a></li>
                <li><a href="#">Sort by rating</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <h5>SIZE</h5>
            <nav aria-label="Page navigation">
                <ul class="nav nav-pills">
                    <li><a href="#">XS</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                </ul>
            </nav>
            <hr/>
            <h5>PRICE</h5>
            <ul class="nav nav-pills">
                <li class="active"><a href="#">$</a></li>
                <li><a href="#">$$</a></li>
                <li><a href="#">$$$</a></li>
                <li><a href="#">$$$$</a></li>
            </ul>
        </div>
        <div class="col-md-9">

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/s1.jpg">
                        <div class="caption">
                            <h4>Potato Frill Thing</h4>
                            <p>100% made from pure potato.
                                <br/><small>5,000 .-</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/s2.jpg">
                        <div class="caption">
                            <h4>Jumpsuit</h4>
                            <p>Recycled French Fries. Eco-friendly.
                                <br/><small>4,000 .-</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/static/s3.jpg">
                        <div class="caption">
                            <h4>Potato Skin Dress</h4>
                            <p>Model not included.
                                <br/><small>500,000 .-</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>